$color-dark_green: #2b3311;


@media screen and (max-width: 1199px) {
  .banner {
    min-height: 700px;
  }
  $fontSize_H1_1199: 3.8vw;
  .banner-text h1 {
    font-size: $fontSize_H1_1199;
    padding-top: 0;
  }

  .banner-text h3 {
    font-size: $fontSize_H1_1199/1.6;
    padding-top: 0;
  }

  #header .header-content {
    width: 90%;
  }

  .nav-toggle {
    display: block;
  }

  .navigation {
    position: fixed;
    background-color: #2b3311;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }

  .navigation .primary-nav {
    position: relative;
    top: 45%;
    -moz-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
  }

  .navigation li {
    display: block;
    margin-bottom: 20px;
  }

  .navigation a {
    display: block;
    font-size: 25px;
    margin: 0;
    text-align: center;
  }

  .person {
    margin: 0 auto 50px;
  }

  .person-content {
    text-align: center;
  }

  .person .social-icons li {
    display: inline-block;
    float: none;
    margin-bottom: 5px;
  }

  .testimonials blockquote {
    padding: 20px 5% 0;
  }

  .testimonials p {
    font-size: 26px;
  }

  .flex-control-nav {
    bottom: 20px;
  }
}

/*-----------------------------------------------------------------------------------------------*/
@media screen and (max-width: 991px) {

  .banner-text {
    padding-top: 35%;
  }
  //$fontSize_H1_992: 4.8vw;

  .banner-text h1 {
    //font-size: $fontSize_H1_992;
    padding-top: 0;
  }

  .banner-text h3 {
    //font-size: $fontSize_H1_992/1.6;
    padding-top: 0;
  }

  .banner-text p {
    font-size: 3.2vw;
  }

  .flexslider {
    padding-bottom: 80px;
  }

  .flex-control-nav {
    width: 100%;
  }

  .footer .footer-col {
    margin-bottom: 50px;
  }
}

/*-----------------------------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .banner-text {
    margin-top: 50%;
    //padding-top: 45%;
    text-align: center;
    background-color: rgba($color-dark_green, 0.75);
    margin-top: 350px;
    padding: 3vw;
  }
  $fontSize_H1: 6vw;

  .banner-text h1 {
    font-size: $fontSize_H1;
    padding-top: 0;
  }

  .banner-text h3 {
    font-size: $fontSize_H1/1.6;
    padding-top: 0;
  }

  .banner-text p {
    font-size: 3.2vw;
    padding-top: 0;

  }

  .banner {
    height: 30px !important;
  }
}

/*-----------------------------------------------------------------------------------------------*/
@media screen and (max-width: 479px) {
  .banner-text {
    margin-top: 50%;
    //padding-top: 45%;
    text-align: center;
    background-color: rgba($color-dark_green, 0.75);
    margin-top: 350px;
    padding: 15px;
  }
  $fontSize_H1: 6vw;

  .banner-text h1 {
    font-size: $fontSize_H1;
    padding-top: 0;
  }

  .banner-text h3 {
    font-size: $fontSize_H1/1.6;
    padding-top: 0;
  }

  .banner-text p {
    font-size: 3.2vw;
    padding-top: 0;

  }

  .banner {
    height: 30px !important;
  }
}

//To jest poza boostrapem
/*-----------------------------------------------------------------------------------------------*/
/*@media screen and (max-width: 320px) {
  .banner {
    height: 30px !important;

  }

  .banner-text {
    padding-top: 55%;
    text-align: center;
  }

  .banner-text h1 {
    font-size: 7vw;
  }

  .banner-text h3 {
    font-size: 4.2vw;
  }

  .banner-text p {
    font-size: 3.2vw;
  }

  .testimonials blockquote {
    padding: 20px 5% 0;
  }

  .testimonials p {
    font-size: 26px;
  }
}
*/